$generalFont: sans-serif;
$generalFontsColor: #0366d6;

.title {
  font-family: $generalFont;
  font-size: 20px;
}
.menu {
  padding: 0;
  margin: 0;
  font-family: $generalFont;

  &__items {
    padding: 5px;
    list-style: none;
  }
  &__links {
    text-decoration: none;
    font-size: 25px;
    color: $generalFontsColor;
  }
  &__triangle {
    position: relative;
    top: 3px;
    margin-right: 5px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 15px solid black;
    cursor: pointer;
  }
  &__DotIcon {
    position: relative;
    top: 7px;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    border: 1px solid black;
    border-radius: 100%;
  }
}
.hide {
  display: none;
}
.active {
    position: relative;
    top: 3px;
    margin-right: 5px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 15px solid black;
    cursor: pointer;
}
.items-content {
  display: flex;
}
